body {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sembunyi {
    display: none;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}

.profpicture {
    border-radius: 50%;
}

.fotobiasa {
    border-radius: 10px 10px;
}

.kotakfoto {
    border-radius: 10px 10px;
    border: 1px solid #ddd;
    width: 610px;
    padding: 5px;
}